<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ page.title }}</title>
    <link href="/content/bootstrap.min.css" rel="stylesheet">
    <link href="/content/sticky-footer-navbar.css" rel="stylesheet">
  </head>
	
  <body>
	  
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">CrazyJ - {j ∈ D<sub>ev</sub> ^ j ∈ S<sub>ec</sub> }</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a  href="/" class='nav-link'>Home</a>
          </li>
          <li class="nav-item">
            <a  href="/blog.html" class='nav-link'>Blog</a>
	  </li>
          <li class="nav-item">
              <a href="/training.html" class='nav-link'>Pentester Lab Badges</a>
          </li>
           <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Training</a>
	    <div class="dropdown-menu
              <a href="/videotraining.html" class="dropdown-item">PluralSight Video Training</a>
	      <a class="dropdown-item" href="#">Crybrary</a>
	    </div>
	  </li>
		
	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
	    <div class="dropdown-menu">
	      <a class="dropdown-item" href="#">Action</a>
	      <a class="dropdown-item" href="#">Another action</a>
	      <a class="dropdown-item" href="#">Something else here</a>
	      <div class="dropdown-divider"></div>
	      <a class="dropdown-item" href="#">Separated link</a>
	    </div>
	  </li>
        </ul>
      </div>
    </nav>
	  <div><br /></div>
      <div>
	      {{ content }}
      </div>
	
    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; CrazyJ 2018-2019</span>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/content/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/content/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
